signin-container {
    align: center;
    margin: 0 auto;
}

.big-form {
    margin: 80px auto;
}

.signin-form {
    width: 320px;
}

.signup-form {
    width: 360px;
}

.big-form input, .big-form button {
    margin-bottom: 10px;
}

.trip img {
    max-height: 120px;
}

.my_trip {
    padding: 5px
}

.my_trip:hover {
    background-color: #dff0d8;
}

.my_trip img {
    margin-right: 10px;
}
