body {
    padding-top: 0;
}

.signin-container {
    align: center;
    margin: 0 auto;
}

.signin-container label, .signin-container a {
    font-size: 1.2em;
}

.big-form {
    margin: 80px auto;
}

.signin-form {
    width: 320px;
}

.signup-form {
    width: 360px;
}

.big-form input, .big-form button {
    margin-bottom: 10px;
}

.trip {
    height: 220px;
    width: 20%;
    padding-right: 5px;
    padding-left: 5px;
}

.trip img {
    max-height: 150px;
}

.my_trip {
    padding: 5px
}

.my_trip:hover {
    background-color: #dff0d8;
}

.my_trip img {
    margin: 10px;
}

#image_upload img {
    margin: 5px 5px 0 0;
}
#image_upload img:hover {
    opacity: 0.4;
    cursor: pointer;
}

#search_filter_bar {
    padding: 0 15px 10px 15px;
    padding-top: 10px;
    margin: 0 0 5px 0;
    background-color: #888;
}

#search {
    width: 400px;
    background: transparent;
    border-width: 0 0 1px 0;
    color: white;
    border-radius: 0;
    font-size: 1.1em;
    padding-bottom: 2px;
}


#search_spinner {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    right: 0;
    top: 30%;
    margin: auto;
}


#categories_select {
    width: 300px;
}

#categories_select button, #categories_select ul {
    width: 100%;
    text-align: left;
}

.remove-btn {
    background-color: transparent;
    border: none;
    height: 14px;
    padding: 0;
}

.remove-form {
    display: inline-block;
    padding: 0;
}

.upload-action-wrapper {
    font-size: 2em;
    top: 10px;
}

.upload-action-wrapper:hover {
    cursor: pointer;
}

#upload_progress {
    margin-top: 10px;
}

#upload_progress .progress-bar {
    width: 50%;
}

img.small-image {
    margin-right: 5px;
}

.navbar {
    margin-bottom: 5px;
}

#trip_show img {
    height: 700px;
}

#trip_show .carousel-caption {
    background: rgba(102, 102, 102, 0.5);
    text-align: left;
    left: 0;
    right: 0;
    padding-left: 20px;
}

.carousel-caption {
    color: white;
}

.carousel-caption p {
    padding-let: 20px;
}

.close-trip {
    font-size: 2em;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    color: #fff;
    opacity: 0.8;
}

.close-trip:hover {
    text-decoration: none;
    opacity: 1 !important;
    color: #fff;
}

#add_trip_section {
    padding-right: 0px;
}

#main_section {
    padding-left: 5px;
    min-height: 600px;
}

.date {
    width: 130px;
    display: inline-block;
}

#check_labels input {
    margin-right: 5px;
}

.brand {
    font-size: 1.5em;
}

#add_trip_section {
    position: absolute;
    right: -6px;
    top: 100px;
    z-index: 20;
    width: 400px;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
}

#show_custom_label {
    color: white;
    font-weight: bold;
}

.error-message {
    color: #FFBABA;
}

#add_trip_toggle {
    position: absolute;
    right: -6px;
    z-index: 20;
    top: 60px;
    padding-right: 15px;
}

.open-trip {
    font-size: 1.2em;
}

