@(logged_in_user: User = null)(implicit messages: Messages)
@import helpers.CustomHtmlHelpers._

<div class="well">
    @helper.form(action = routes.TripsController.create, 'class -> "form-horizontal", 'id -> "add_trip", 'enctype -> "multipart/form-data") {
        <h3 class="form-heading">Share your trip experience</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name your trip" name="title" id="title"/>
        </div>
        <div class="form-group">
            <!--<textarea class="form-control" rows="3" placeholder="Describe your trip briefly"></textarea>-->
            <textarea class="form-control" rows="5" name="description" id="description" placeholder="Describe your trip"></textarea>
        </div>

        <div class="form-group" id="check_labels">
            <label>What was your travel about</label>
            <div class="row-fluid">
                <input type="checkbox" name="summer_vacation"> Summer vacation
                <input type="checkbox" name="city_travel"> City travel
            </div>
            <div class="row-fluid">
                <input type="checkbox" name="antropology"> Antropology
            </div>

            <div class="row-fluid">
                <p>Or add your specific category</p>
                <input type="text" class="form-control" name="custom_label" id="custom_label" />
            </div>

            <input type="hidden" name="labels" id="labels" />
        </div>

        <div class="row-fluid hide" id="image_upload">
            <label for="image">Upload image from trip</label>
            <input type="file" name="image" id="image" />
        </div>

        @logged_in_user match {
            case user: User => {
                <div class="row-fluid">
                    <select id="type" name="type">
                        <option value="my">Sign me on this trip</option>
                        <option value="public">Add trip as public</option>
                    </select>
                </div>
            }
            case null => {}
        }

        <div class="row">
            <input type="submit" class="btn btn-primary" value="Contribute" />
        </div>

        <div class="row">
            <span class="text-success" id="success_message"></span>
            <span class="text-danger" id="error_message"></span>
        </div>
    }
</div>

