@(trip: Trip)(implicit request: Request[Any])

@import helpers.SessionHelper._
@import helpers.CommonHelper._

@logged_in_user = @{loggedInUser(request)}

<div class="col-md-3 trip" id="@trip.id.get">
    <div class="thumbnail"  id="@trip.id.get">
        @logged_in_user match {
            case user: User => {
                @user.id match {
                    case trip.userId => {
                        @helper.form(action = routes.TripsController.remove(trip.id.get), 'class -> "remove-form pull-right"){
                            <button type="submit" class="remove-btn">
                                <i class="glyphicon glyphicon-remove text-warning"></i>
                            </button>
                        }
                    }
                    case _ => {}
                }
            }
            case _ => {}
        }

        @if(!trip.image_collection.get.isEmpty){
            <a href="#" class="open-trip"><img src="@trip.image_collection.get.head" /></a>
        }
        <div class="caption">
            <a href="#" class="open-trip"><h4>@trip.title</h4></a>
            <!--<p>@stripText(trip.description, 40)</p>-->

        </div>

    </div>
</div>