@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@(trips: List[Trip])(implicit request: Request[Any], flash: Flash)
@new_trip = @{ Trip(None, "", "", true, None, None, None, org.joda.time.DateTime.now) }

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Trips that you always wanted") {
    <div class="row">
        <div class="col-md-4">
            @partial.add_trip(new_trip, flash)
        </div>
        <div class="col-md-8" id="trips">
            <div class="row search-filter">

                <div class="pull-left">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            All
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="@routes.HomeController.index("all")">All</a></li>
                            @for(label <- Trip.labels){
                                <li><a href="@routes.HomeController.index(label._1)">@label._2</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="pull-right">
                    <input type="text" name="search" id="search" class = "form-control" placeholder="Search for your dream trip" />
                </div>
            </div>

            <div class="row">
                @trips.map { trip => @partial.trip(trip) }

            </div>
        </div>
    </div>

}
