@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(trips: List[Trip], logged_in_user: User = null)(implicit messages: Messages, request: Request[Any])
@new_trip = @{ Trip(None, "", "", true, None, None, None, org.joda.time.DateTime.now) }

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play", logged_in_user) {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@

    <div class="row">
        <div class="col-md-4">
            @partial.add_trip(new_trip, logged_in_user)
        </div>
        <div class="col-md-8" id="trips">
            <div class="row">

                @trips.map { trip => @partial.trip(trip, logged_in_user) }

            </div>
        </div>
    </div>

}
